#header {
    background-color:black;
    color:white;

    text-align:center;
    font-size: 40px;
    font-size: "微软雅黑";

    padding:5px;
}

/*头标题, 我的简历*/
#h1
{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

/*二级标题, 各个块*/
#h2
{
    background-color:#eeeeee;
}

#table
{
    align:center;

}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}