#header {
    background-color:rgb(238, 0, 0);
    color:white;

    text-align:center;
    font-size: 40px;
    font-size: "微软雅黑";

    padding:5px;
}

#box {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-style:solid;
    border-color: #8a00e66e;
    border-width: 1cm
}

strong{
    width: 10px;
    margin: 100px;
    padding: 5px;
}

/*头标题, 我的简历*/
h1
{
    background-color:rgb(114, 64, 64);
    color:white;
    text-align:center;
    padding:5px;
}

/*二级标题, 各个块标题*/
h2{
    background-color:#dfc5c5;
    font-size: "微软雅黑";
    border-bottom: darkslategray;
    border-bottom: 2mm;
}

h3{
    /* background-color:rgb(114, 64, 64); */
    color:white;
    text-align:center;
    padding:5px;
}

th{
    text-align: "left";
}



/* right{
    float: right;;
} */


/* td{
    text-align:center;
} */

/*横线*/
#line{
    border-bottom: darkslategray;
    border-bottom: 2mm;
}

/*项*/
#item{
    font-family: "微软雅黑";
    font-size: 5px;
    font-weight:bold;
}

/*值*/
p{
    font-family: "微软雅黑";
    font-size: 5px;
}
/* 
td{
    align: "center";
} */








#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}